## .NET build output
bin/
obj/

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## Visual Studio Code
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json

## NuGet
*.nupkg
*.snupkg

## Test results
TestResults/
coverage/
*.coverage
*.coveragexml

## Operating system files
.DS_Store
Thumbs.db